
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Garvit Singhal - Personal Portfolio</title>
    <link rel="stylesheet" href="/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon" />
    <script src="portfolio.js"></script>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="left">
          <img src="/Screenshot_2023-07-18_220717-removebg-preview.png" alt="LOGO" id="logo_img" title="GARVIT LOGO"/>
        </div>
        <div class="right">
          <button class="menuIcon" onclick="menu()">
            <i class="fa fa-bars"></i>
          </button>
          <ul id="menuUL">
            <a href="#home" title="HOME"><li>HOME</li></a>
            <a href="#about" title="ABOUT"><li>ABOUT</li></a>
            <a href="#projects" title="MY PROJECTS"><li>MY PROJECTS</li></a>
            <a href="#contact" title="CONTACT ME"><li>CONTACT ME</li></a>
            <a href="GARVIT_resume.pdf" title="MY RESUME" download><button class="resumeBtn">MY RESUME</button></a>
          </ul>
        </div>
      </nav>
    </header>

    <!-- main section starts  -->
    <main>

      <!-- Home section starts -->
      <section class="home" id="home">
        <div class="leftSection">
          Hi, My Name is <span class="purple">Garvit </span>
          <div>and I am a passionate</div>
          <div id="element" class="purple"></div><br>
        </div>
        <div class="rightSection">
          <img src="bg.png" alt="AN IMAGE" />
        </div>
      </section>
      <div class="hrLine"></div>

      <!-- about section -->
      <section class="about" id="about">
        <h2><i class="fa fa-edit"></i> About Me</h2>
        <div class="intro">
          Hello, I'm <b>Garvit Singhal</b>, a passionate computer science engineering
          student with a keen interest in web development. Currently, I'm
          dedicatedly learning the art of crafting captivating and functional
          websites. With a strong foundation in HTML, CSS, and JavaScript, I am
          equipped to create engaging user experiences and intuitive interfaces.
          I am also exploring popular frameworks like Boosttrap, Jquery, and node.js
          to enhance my skills and stay up-to-date with industry trends. Through
          my journey as a web developer, I aspire to combine my technical
          expertise with creativity to build impactful and innovative web
          solutions that make a difference.
        </div>
      </section>
      <div class="hrLine"></div>

      <!-- projects section starts -->
      <section class="projects" id="projects">
        <center>
          <h2><i class="fa fa-folder"></i> My Projects</h2>
          <div class="projectList">
            
            <div class="card" title="Calculator">
              <img src="calculator_ss.png" alt="Avatar" style="width:100%">
              <div class="container">
                <h5><b><a href="https://garvit-calculator.netlify.app">Calculator <i class="fa fa-external-link"></i></a></b></h5> 
              </div>
            </div>

            <div class="card" title="QR Generator">
              <img src="qr_ss.png" alt="Avatar" style="width:100%">
              <div class="container">
                <h5><b><a href="https://garvit-qr-generator.netlify.app">QR Generator <i class="fa fa-external-link"></i></a></b></h5> 
              </div>
            </div>
            
            <div class="card" title="Virtual Keyboard">
              <img src="keyb_ss.png" alt="Avatar" style="width:100%">
              <div class="container">
                <h5><b><a href="https://garvit-virtualkeyboard.netlify.app">Virtual Keyboard <i class="fa fa-external-link"></i></a></b></h5> 
              </div>
            </div>
            
            <div class="card" title="Netflix Clone">
              <img src="netflix_ss.png" alt="Avatar" style="width:100%">
              <div class="container">
                <h5><b><a href="https://garvit-netflixclone.netlify.app/">Netflix Clone <i class="fa fa-external-link"></i></a></b></h5> 
              </div>
            </div>
            
            <div class="card" title="Number Guess Game">
              <img src="num_guess_ss.png" alt="Avatar" style="width:100%">
              <div class="container">
                <h5><b><a href="https://garvit-number-guess-game.netlify.app/">Number Guess Game <i class="fa fa-external-link"></i></a></b></h5> 
              </div>
            </div>
            
            <div class="card" title="Stone Paper Scissor">
              <img src="sps_ss.png" alt="Avatar" style="width:100%">
              <div class="container">
                <h5><b><a href="https://garvit-stone-paper-scissor.netlify.app/">Stone Paper Scissor <i class="fa fa-external-link"></i></a></b></h5> 
              </div>
            </div>

            <div class="card" title="Timer">
              <img src="timer_ss.png" alt="Avatar" style="width:100%">
              <div class="container">
                <h5><b><a href="https://garvit-timer.netlify.app/">Timer <i class="fa fa-external-link"></i></a></b></h5> 
              </div>
            </div>
            
            <div class="card" title="To Do List">
              <img src="todo_ss.png" alt="Avatar" style="width:100%">
              <div class="container">
                <h5><b><a href="https://garvit-todoapp.netlify.app/">To Do List <i class="fa fa-external-link"></i></a></b></h5> 
              </div>
            </div>
            
            <div class="card" title="Tribute Page">
              <img src="tribute_ss.png" alt="Avatar" style="width:100%">
              <div class="container">
                <h5><b><a href="https://garvit-tributepage.netlify.app/">Tribute Page <i class="fa fa-external-link"></i></a></b></h5> 
              </div>
            </div>
            
            <div class="card" title="Weather App">
              <img src="weather_ss.png" alt="Avatar" style="width:100%">
              <div class="container">
                <h5><b><a href="https://garvit-weatherapp.netlify.app/">Weather App <i class="fa fa-external-link"></i></a></b></h5> 
              </div>

            </div>
            
          </div>
        </center>
      </section>
      <div class="hrLine"></div>

      <!-- contact section starts -->
      <section class="contact" id="contact">
        <h2><i class="fa fa-user"></i> Contact Me </h2>
        <div class="contactList">
          <div class="location"><i class="fa fa-map-marker"></i> Jaipur , Rajasthan</div>
          <div class="mobile"><i class="fa fa-mobile"></i> <a href="tel:+916375560097">+91 6375560097 <i class="fa fa-external-link" style="font-size: 15px;"></i></a></div>
          <div class="mail"><i class="fa fa-envelope-o"></i><a href="mailto:garvitsinghal305@gmail.com"> garvitsinghal305@gmail.com <i class="fa fa-external-link" style="font-size: 15px;"></i></a></div>
        </div>
      </section>

    </main>
    
    <!-- Footer section starts  -->
    <footer class="footer">
      <center>
        <h3>Follow Me On </h3>
        <div class="icons">
          <a href="https://www.linkedin.com/in/garvit-singhal-aa58b0254"><i class="fa fa-linkedin"></i></a>
          <a href="https://www.instagram.com/garvitsinghal305/"><i class="fa fa-instagram"></i></a>
          <a href="https://github.com/singhalgarvit"><i class="fa fa-github"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-snapchat"></i></a>
        </div>
      </center>
    </footer>

    <script>
      var typed = new Typed("#element", {
        strings: ["Learner", "Web Developer"],
        typeSpeed: 100,
      });
    </script>
  </body>
</html>
